@{
    ViewBag.Title = "LNF Billing";
}

<h2>LNF Billing</h2>

<hr />

<div class="list-group">
    @Html.ActionLink("Room Data Import Log", "ImportLog", "Room", null, new { @class = "list-group-item" })
</div>